.one{
    text-align: center;
    left: 50px;
    border-style:solid ;
    border-width: 1;
    padding-bottom: 70px;
    margin-left: 250px;
    margin-right: 250px;
}

#sub{
  position: fixed;
  left: 700px;
  top: 400px;
  font-size: x-large;
  background-color: white;
  color: black;
  border: 2px solid red;


}
#sub2{
    position: fixed;
    left: 800px;
    top: 410px;
    background-color: white;
    color: rgb(12, 8, 250);
    
}
body{
    margin-top: 20px;
    
}
#h{
    text-align: center;
    left: 550px;
}